@font-face {
  font-family: 'iconfont'; /* Project id 4105074 */
  src: url('//at.alicdn.com/t/c/font_4105074_c2e44szne4.woff2?t=1686193600068') format('woff2'),
    url('//at.alicdn.com/t/c/font_4105074_c2e44szne4.woff?t=1686193600068') format('woff'),
    url('//at.alicdn.com/t/c/font_4105074_c2e44szne4.ttf?t=1686193600068') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-case:before {
  content: '\e675';
}

.icon-fangan:before {
  content: '\e612';
}

.icon-gengduo-1:before {
  content: '\e609';
}

.icon-dizhi:before {
  content: '\e814';
}

.icon-qiyejianjie:before {
  content: '\e614';
}

.icon-mtbd:before {
  content: '\e602';
}

.icon-zixun:before {
  content: '\e62c';
}

.icon-zizhi:before {
  content: '\e6b3';
}

.icon-jiarubanji:before {
  content: '\e65d';
}

.icon-zixun1:before {
  content: '\e771';
}

.icon-kexuejishu-:before {
  content: '\e9b0';
}

.icon-dianzan:before {
  content: '\ec7f';
}

.icon-qiyewenhua:before {
  content: '\e66a';
}

.icon-weixin:before {
  content: '\e600';
}

.icon-kefurexianxianxing:before {
  content: '\e616';
}

.icon-shouhouwuyou:before {
  content: '\e63d';
}

.icon-kefu:before {
  content: '\e625';
}

.icon-kuangshan:before {
  content: '\e6a6';
}

.icon-jiayouzhan:before {
  content: '\e68d';
}

.icon-huagongchang:before {
  content: '\e629';
}

.icon-daijiangongdi:before {
  content: '\e674';
}

.icon-shequ:before {
  content: '\e62a';
}
